nav {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  color: white; }
  nav .nav-link {
    color: white; }
  nav .dis:hover {
    color: #00ff7f; }
  nav .cod:hover {
    color: #800080; }
  nav .con:hover {
    color: #fa8072; }
  nav .abt:hover {
    color: #008080; }

header {
  padding: 10px;
  justify-content: center; }
  header h1 {
    font-size: 5em;
    font-family: 'Oswald', sans-serif;
    color: white;
    padding: 5px;
    display: igrid;
    animation: backInRight;
    animation-duration: 1s; }
  header h2 {
    font-size: 5em;
    font-family: 'Oswald', sans-serif;
    color: white;
    padding: 5px;
    display: grid;
    animation: backInRight;
    animation-duration: 1s; }
  header h3 {
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    color: white;
    display: grid;
    animation: backInRight;
    animation-duration: 1s; }
  header .me {
    animation: backInLeft;
    animation-duration: 1s; }
  header p {
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    color: white; }
  header .about-me {
    background-color: black;
    filter: alpha(opacity=70);
    -moz-opacity: .70;
    opacity: .70;
    padding: 5px; }
  header .btn {
    border-style: outset;
    border-color: white;
    padding: 2px; }

main {
  background-image: url(../media/fondobyn.jpg);
  background-attachment: fixed;
  padding: 0px; }
  main .container-index {
    display: grid;
    justify-content: center;
    padding: 30px; }
  main .cod {
    color: white;
    font-size: 5em;
    font-family: 'Oswald', sans-serif;
    display: grid;
    animation: bounceInDown;
    animation-duration: 2s; }
  main .dis {
    color: white;
    font-size: 5em;
    font-family: 'Oswald', sans-serif;
    display: grid;
    animation: bounceInDown;
    animation-duration: 2s; }
  main p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5em;
    color: white; }
  main .diseno:hover {
    color: springgreen; }
  main .coder:hover {
    color: purple; }
  main ul li {
    text-decoration: none;
    list-style-type: none; }
  main h2 {
    font-size: 2.5em;
    font-family: 'Oswald', sans-serif;
    color: white; }
  main h3 {
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    color: white; }
  main h4 {
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    color: white;
    padding: 15px; }
  main .tada {
    width: 100%;
    height: 100%; }
  main .digi {
    width: 100%;
    height: 100%; }
  main .tada:hover {
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: initial; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }
  main p.txt {
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 50px 10px 10px 15px; }
  main .pant {
    display: inline-block;
    animation: bounceInDown;
    animation-duration: 2s; }
  main .logo a img {
    display: grid;
    justify-content: center; }
  main ul {
    padding: 0;
    margin: 0;
    list-style-type: none; }
  main li {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0 15px 15px 0; }
  main .info {
    display: none;
    position: absolute;
    bottom: 0;
    z-index: 10;
    background: #00000080;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);
    color: #FFF;
    padding: 10px; }
  main li:hover .info {
    display: block; }
  main .cards1 {
    width: 30%;
    height: 30%; }
  main .cards2 {
    width: 40%;
    height: 40%; }
  main .cards1 p {
    color: black; }
  main .cards1 h3 {
    color: black; }
  main .cards2 p {
    color: black; }
  main .cards2 h3 {
    color: black; }
  main .card2 {
    margin-left: 100px; }
  main .br {
    display: grid;
    justify-content: center;
    background-color: black;
    filter: alpha(opacity=70);
    -moz-opacity: .70;
    opacity: .70;
    padding: 5px; }
  main .tam {
    display: grid;
    justify-content: center;
    background-color: black;
    filter: alpha(opacity=70);
    -moz-opacity: .70;
    opacity: .70;
    padding: 5px; }
    main .tam h3 {
      padding: 80px;
      font-size: 4em; }
    main .tam p {
      padding: 25px;
      color: #fa8072;
      font-family: 'Licorice', cursive;
      font-size: 3em; }
  main .bot {
    padding: 15px;
    margin: 5px; }
  main .certificado {
    max-width: 150%;
    max-height: 150%; }
  main .certificado:hover {
    transform: scale(2.1, 2.1); }
  main .container {
    justify-content: center; }

footer p {
  font-family: 'Oswald', sans-serif;
  color: white; }

footer a {
  text-decoration: none;
  font-size: 1.2em;
  color: white; }

@media screen and (max-width: 768px) {
  header h1 {
    display: grid;
    justify-content: center; }
  header h2 {
    display: grid;
    justify-content: center; }
  header h3 {
    display: grid;
    justify-content: center; }
  main h2 {
    display: grid;
    justify-content: center;
    font-size: 3em; }
  main p {
    display: grid;
    justify-content: center; }
  main ul {
    padding: 0;
    margin: 0;
    list-style-type: none; }
  main li {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0 15px 15px 0; }
  main ul li img:hover {
    transform: scale(1.2, 1.2); }
  main .info {
    display: none;
    position: absolute;
    bottom: 0;
    z-index: 10;
    background: #00000080;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);
    color: #FFF;
    padding: 10px; }
    main .info h3 {
      font-size: 1.5em; }
    main .info p {
      font-size: 1em; }
  main li:hover .info {
    display: none; }
  main .logo {
    display: grid;
    justify-content: center;
    justify-items: center; }
  main .cards1 {
    width: 30%;
    height: 30%; }
  main .cards2 {
    width: 40%;
    height: 40%; }
  main .cards1 p {
    text-align: center;
    font-size: 1em;
    color: black; }
  main .cards1 h3 {
    text-align: center;
    font-size: 1.3em;
    color: black; }
  main .card {
    width: 100%;
    height: 100%; }
  main .card2 {
    margin-left: 0px; }
  main .cards2 p {
    text-align: center;
    font-size: 1em;
    color: black; }
  main .cards2 h3 {
    text-align: center;
    font-size: 1.3em;
    color: black; }
  main .linkInsta {
    margin-left: 25%; } }

body {
  background-image: url(../media/fondo.jpg);
  background-attachment: fixed;
  background-color: black; }
